<!-- TODO make this into div for expansion instead of card specific -->
<mat-card-actions align="end" *transloco="let t">
  <button mat-button
          class="adjust-margin"
          color="primary"
          (click)="expanded = !expanded">
    {{ (expanded) ? t('collapseLabel') : t('expandLabel') }}
    <mat-icon>
      {{ (expanded) ? 'expand_less' : 'expand_more' }}
    </mat-icon>
  </button>
</mat-card-actions>

<ng-container *ngIf="expanded">
  <mat-list dense *transloco="let t">

    <mat-divider></mat-divider>

    <mat-list-item>
      <h3 matLine>{{ t('vaccineBrandLabel') }}</h3>
      <p matLine>{{ immunizationRecord.vaccine.productName }}</p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine>{{ t('doseNumberLabel') }}</h3>
      <p matLine>{{ immunizationRecord.doseNumber }}</p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine>{{ t('vaccineLotNumberLabel') }}</h3>
      <p matLine>{{ immunizationRecord.lotNumber }}</p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine>{{ t('administrationCentreLabel') }}</h3>
      <p matLine>{{ immunizationRecord.administeringCentre }}</p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine>{{ t('countryOfAdministrationLabel') }}</h3>
      <p matLine>{{ immunizationRecord.countryOfVaccination }}</p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine>{{ t('dueDateOfNextDoseLabel') }}</h3>
      <p matLine>{{ immunizationRecord.nextVaccinationDate | translocoDate: { dateStyle: 'long' } }}</p>
    </mat-list-item>
  </mat-list>
</ng-container>
