//
// MATERIAL PALETTE
//

@import 'palette';

$vc-issuer-blue: (
  50: #e0e7ed,
  100: #b3c2d1,
  200: #8099b3,
  300: #4d7094,
  400: #26527d,
  500: #003366,
  600: #002e5e,
  700: #002753,
  800: #002049,
  900: #001438,
  A100: #6e93ff,
  A200: #3b6cff,
  A400: #0846ff,
  A700: #003bee,
  contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff
  )
);

$vc-issuer-blue-light: (
    50 : #eff4fe,
    100 : #d8e5fc,
    200 : #bed3fa,
    300 : #a3c1f7,
    400 : #90b4f6,
    500 : #7ca7f4,
    600 : #749ff3,
    700 : #6996f1,
    800 : #5f8cef,
    900 : #4c7cec,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dfe8ff,
    A700 : #c6d6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$vc-issuer-yellow: (
  50: #fff7e3,
  100: #feeaba,
  200: #fedd8c,
  300: #fdcf5e,
  400: #fcc43c,
  500: #fcba19,
  600: #fcb316,
  700: #fbab12,
  800: #fba30e,
  900: #fa9408,
  A100: #ffffff,
  A200: #fff8ef,
  A400: #ffe0bc,
  A700: #ffd4a2,
  contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
  )
);
