<div class="wrapper" *transloco="let t">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">

        <h1>{{ t('supportLabel') }}</h1>

        <ul class="list-unstyled">
          <li><a href="#">{{ t('digitalWalletLabel') }}</a></li>
          <li><a href="#">{{ t('verifiableCredentialLabel') }}</a></li>
          <li><a href="#">{{ t('usingTrinsicLabel') }}</a></li>
        </ul>

      </div>
      <div class="col-12 order-sm-last col-md-4 col-lg-5">

        <h1>{{ t('legalLabel') }}</h1>

        <ul class="list-unstyled">
          <li><a href="#">{{ t('privacyLabel') }}</a></li>
          <li><a href="#">{{ t('termsLabel') }}</a></li>
        </ul>

      </div>
      <div class="col-12 col-sm-6 order-md-last col-md-4 col-lg-3">

        <h1>{{ t('languageLabel') }}</h1>

        <mat-form-field appearance="outline">
          <mat-select value="en">
            <mat-option value="en">{{ t('englishLanguageLabel') }}</mat-option>
            <mat-option value="fr">{{ t('frenchLanguageLabel') }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col">

        <hr>

        <small>&copy; {{ t('footerNote') }}</small>
      </div>
    </div>
  </div>
</div>
