@import 'palette';

.wrapper {
  background-color: theme-palette(blue, darkest) !important;
}

.introduction {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}

.mat-stroked-button {
  &.mat-button-disabled .mat-icon {
    color: rgba(black, 0.26);
  }

  .mat-icon {
    margin-top: -3px;
  }
}


.mat-list .mat-list-item {
  h3.mat-line {
    color: rgba(theme-palette(blue), .8);
    font-size: .85rem;
    margin-bottom: -5px;
  }
  p.mat-line {
    color: theme-palette(blue);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

// TODO split out into component
.temporary {
  margin-bottom: 3rem;

  .mat-card-title {
    color: lighten(theme-palette(blue), 5%);
  }

  .mat-card-subtitle {
    margin-bottom: .6rem;
  }

  .summary {
    margin-top: 1rem;
  }

  p {
    color: theme-palette(blue);
  }

  p.mat-line {
    // Adjust text to be vertically aligned with the
    // remove from list icon
    padding-top: 4px;
  }

  p.no-selection {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.75rem;
    padding-top: .75rem;
  }

  .cart-icon {
    padding-top: 1rem;
    text-align: center;

    .mat-icon {
      height: 100px;
      width: 100px;
      color: theme-palette(blue);
      font-size: 6rem;
      opacity: .05;
    }
  }

  .mat-divider {
    border-top-color: theme-palette(blue, lightest);

    &.mat-divider-horizontal {
      position: relative;
      width: 98%;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}
