@import 'palette';

.mat-stroked-button .mat-icon {
  margin-top: -3px;
}

.mat-list .mat-list-item {
  h3.mat-line {
    color: rgba(theme-palette(blue), .8);
    font-size: .85rem;
    margin-bottom: -5px;
  }
  p.mat-line {
    color: theme-palette(blue);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.temporary {
  .mat-card-title {
    color: lighten(theme-palette(blue), 10%);
  }

  .summary {
    margin-top: 1rem;
  }

  p {
    color: theme-palette(blue);
  }

  p.no-selection {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.75rem;
    padding-top: .5rem;
  }
}
