<app-page-toolbar [username]="username"
                  (logout)="onLogout()"></app-page-toolbar>

<app-busy-overlay [busy]="busy">

  <div class="container" *transloco="let t">
    <div class="row">
      <div class="col col-lg-8 introduction">
        <app-page-header [title]="t('obtainYourHealthStatusCredentialTitle')">
          <ng-container appPageHeaderSummary>
            {{ t('healthStatusCredentialPageInstructions') }}
          </ng-container>
        </app-page-header>

      </div>
    </div>
    <div class="row">
      <div class="col">

        <button mat-stroked-button
                class="mb-4"
                (click)="addAllImmunizationRecords()">
          <mat-icon color="primary">add</mat-icon> {{ t('addAllRecordsButtonLabel') }}
        </button>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">

        <ng-container *ngFor="let record of immunizationRecords">

          <app-card-alert icon="coronavirus"
                          [subtitle]="t('vaccinationRecordTitle')"
                          [title]="record.vaccine.disease"
                          [alertOptions]="getAlertOptions(record)"
                          (selected)="addSelectedImmunizationRecord(record)">
            <mat-card-content>
              <mat-list dense>
                <mat-list-item>
                  <h3 matLine>{{ t('manufacturerLabel') }}</h3>
                  <p matLine>{{ record.vaccine.manufacturer }}</p>
                </mat-list-item>
                <mat-list-item>
                  <h3 matLine>{{ t('dateOfAdministrationLabel') }}</h3>
                  <p matLine>{{ record.dateOfVaccination | translocoDate: { dateStyle: 'long' } }}</p>
                </mat-list-item>
              </mat-list>

              <app-card-action-expansion [immunizationRecord]="record"></app-card-action-expansion>
            </mat-card-content>

            <button mat-flat-button
                    color="primary">
                    {{ t('addToWalletButtonLabel') }}
            </button>
          </app-card-alert>

        </ng-container>

      </div>
      <div class="col-12 col-md-9 col-lg-4">
        <div class="sticky-top">

          <mat-card class="temporary">
            <mat-card-subtitle>{{ t('verifiableCredentialLabel') }}</mat-card-subtitle>
            <mat-card-title>{{ t('vaccinationRecordsLabel') }}</mat-card-title>
            <mat-card-content>

              <ng-container *ngIf="selectedImmunizationRecords.length; else noSelectedImmunizationRecords">

                <p class="summary">
                  {{ t('listOfVaccinationRecordsSelected') }}
                </p>

                <mat-list dense>
                  <mat-divider></mat-divider>
                  <ng-container *ngFor="let record of selectedImmunizationRecords">
                    <mat-list-item>
                      <p matLine>{{ record.vaccine.disease }}</p>
                      <button mat-icon-button
                              (click)="removeSelectedImmunizationRecord(record.id)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </ng-container>
                </mat-list>

                <p class="mt-3">
                  {{ t('byClickingMessage') }} <strong>{{ t('saveToWalletButtonLabel') }}</strong> {{ t('createWithListedVaccinationRecordsMessage') }}
                </p>

              </ng-container>

              <ng-template #noSelectedImmunizationRecords>
                <div class="cart-icon">
                  <mat-icon>tap_and_play</mat-icon>
                </div>
                <p class="no-selection">
                  {{ t('noSelectionMessage') }}
                </p>
              </ng-template>

            </mat-card-content>

            <mat-card-actions *ngIf="selectedImmunizationRecords.length"
                              class="p-3">
              <button mat-flat-button
                      color="primary"
                      class="w-100"
                      (click)="onCreateCredential()">{{ t('saveToWalletButtonLabel') }}</button>
            </mat-card-actions>

            <ng-container *ngIf="issuedCredential">
              <mat-divider></mat-divider>

              <p>
                {{ t('scanQrCodeMessage') }}
              </p>

              <app-qrcode [base64QRCode]="issuedCredential"></app-qrcode>
            </ng-container>
          </mat-card>

        </div>
      </div>
    </div>
  </div>

</app-busy-overlay>

<app-page-footer></app-page-footer>
