<mat-card class="card-alert"
          [class.card-alert-info]="alertType === 'info'">
  <mat-card-header>
    <div *ngIf="icon"
         mat-card-avatar>
      <mat-icon>{{ icon }}</mat-icon>
    </div>

    <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
    <mat-card-title *ngIf="title">{{ title }}</mat-card-title>


    <ng-content select="card-menu"></ng-content>
  </mat-card-header>

  <ng-content select="mat-card-content"></ng-content>

  <mat-card-footer>
    <div class="d-flex align-items-center">
      <div *ngIf="alertIcon && alertMessage"
           class="mr-4">
        <mat-icon>{{ alertIcon }}</mat-icon>
      </div>
      <div *ngIf="alertMessage"
           class="mr-sm-4">
        {{ alertMessage }}
      </div>
      <div class="ms-auto d-none d-sm-block">
        <ng-container [ngTemplateOutlet]="addToCredential"></ng-container>
      </div>
    </div>

    <div class="d-block d-sm-none">
      <ng-container [ngTemplateOutlet]="addToCredential"
                    [ngTemplateOutletContext]="{ cssClass: 'w-100 mt-3' }"></ng-container>
    </div>
  </mat-card-footer>
</mat-card>

<ng-template #addToCredential
             let-cssClass="cssClass">
  <button mat-flat-button
          color="primary"
          [class]="cssClass"
          (click)="onAction()">
    Add to Credential
  </button>
</ng-template>
