@import 'palette';
@import 'bootstrap/bootstrap-imports';

//
// MATERIAL CARD
//
// @description
// Applies general theme styles to Material Card components, as well as, an
// action icon to the upper right of the card, but is not opinionated on
// responsiveness of the container dimensions or typography of the
// content, which can be enforced at the component-level.

.mat-card.immunization-record {
  border-left: 8px solid theme-palette(blue, lighter);
  margin-bottom: 2rem;

  .mat-card-header {
    .mat-card-avatar {
      // border: 1px solid red;
      height: 60px;
      width: 60px;

      .mat-icon {
        color: theme-palette(blue, light);
        font-size: 3.5rem;
      }
    }

    .mat-card-subtitle {
      margin-bottom: .9rem;
    }

    // Apply positioning to an .mat-icon-button to place it to the
    // top right of the card when placed in the mat-card-header, where
    // the mat-icon-button can be a normal button or a menu trigger
    .mat-icon-button {
      position: absolute;
      top: 5px;
      right: 5px;
      // Position over content for use with menus
      z-index: 100;
    }

    .mat-card-title {
      color: theme-palette(blue, light);
      font-size: 2.25rem;
    }
  }

  .mat-card-content {
    color: theme-palette(blue);

    .mat-divider {
      border-top-color: theme-palette(blue, lighter);

      &.mat-divider-horizontal {
        position: relative;
        width: 98%;
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }

  .mat-card-actions {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    // @include media-breakpoint-up(sm) { }
  }

  .mat-card-footer {
    background-color: theme-palette(blue, lightest);
    border-top: 1px solid theme-palette(blue, lighter);
    padding: 1rem 1.2rem;

    .mat-icon {
      font-size: 1.75rem;
    }
  }
}

button.adjust-margin .mat-icon {
  margin-top: -3px;
}
